.login {
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loginscreen{
    margin-top: 20px;
  }
.hi{
  
}
  .loginDesc {
    font-size: 24px;
  }
  
  .loginBox{
      height: 300px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }


  .loginForgot{
      text-align: center;
      color: #1775ee;
  }
